.lead {
    font-family: "Open Sans Condensed";
    font-size: 2.0em;
}

.d2-img-header .col-sm-3, .d2-img-header .col-xs-3 {
    padding: 0px;
}

.mens-t {
    padding-top: 15px;
}

.t-shirt {
    padding-top: 35px;
}

a {
    text-decoration: underline;
}

.nd-logo {
    padding: 10px 150px;
}

.section-a {
    background-color: #f7f7f7;
    padding-bottom: 40px;
    border-bottom: 1px solid #efefef;
}

.section-b {
    padding-bottom: 40px;
}

.logo-img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}
